# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Learning_material\Программирование\Денис Егоров\Django потанцуем\django_lets_dance\my_django_projects\my_page\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
